@model List<Event>
@{
    ViewData["Title"] = "Home Page";
	var data = ViewBag.Message;
}
<div class="container">
	<section id="content">
	<main>

		<ul class="box-info">
				<li>
				<i class='bx bxs-calendar-check' ></i>
				<span class="text">
					<h3>@data["events"]</h3>
					<p>Number of events</p>
				</span>
			</li>
			<li>
				<i class='bx bxs-group'></i>
				<span class="text">
					<h3>@data["participants"]</h3>
					<p>Participant</p>
				</span>
			</li>
			
		</ul>
		<div class="table-data">
			
			<div class="todo">
					<!--Add charts here-->
			</div>

				<div class="order">
					<div class="head">
						<h3>Upcomming Events</h3>
						<i class='bx bx-search'></i>
						<i class='bx bx-filter'></i>
					</div>
					<table>
						<thead>
							<tr>
								<th>Event</th>
								<th>Start Date</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var obj in Model)
							{
								<tr>
									<td>
										<p>@obj.EventName</p>
									</td>
									<td>@obj.Start</td>
									<td>@obj.Status</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
		</div>
	</main>
	</section>
</div>
@section scripts {
<script src="~/js/script.js"></script>
}